.filter__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #e4e4e4; /* Blanco para las líneas */
    background-color: #fff; /* Fondo oscuro */
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    gap: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.filter__button:hover {
    background-color: #e4e4e4;
}

.filter__button__span {
    color: rgb(239 68 68);
    font-size: 14px;
    font-family: Jost;
    font-weight: 700;
    line-height: 16.56px;
    text-transform: uppercase;
    font-style: normal;
}

.filter__button__span:active {
    color: rgb(239 68 68); 
}

.filter__button__select{
    display: flex;
    line-height: 16.56px;
    align-items: center;
    padding: 4px 8px;
    gap: 4px;
    border: 2px solid #EF4444;
}

.filter__button__span__selected {
    font-style: normal;
    font-weight: 700;
    font-family: Jost;
    font-size: 14px;
    line-height: 16.56px;
    text-transform: uppercase;
    color: red;
}

/* nuevo */
/* Ícono dentro del círculo */
.filter__button img {
    width: 50px; /* Ajusta el tamaño del ícono */
    height: 50px;
    object-fit: contain; /* Asegura que el ícono mantenga sus proporciones */
}

.filter__text {
    font-style: normal;
    font-weight: 700;
    font-family: Jost;
    font-size: 13px;
    line-height: 16.56px;
    text-transform: uppercase;
    color: #333;
    padding-top: 12px;
    text-align: center;
}

/* filtro */
button {
    transition: all 0.3s ease;
  }
  
  button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .bg-blue-500 {
    background-color: #3b82f6; /* Azul */
  }
  
  .bg-gray-200 {
    background-color: #e5e7eb; /* Gris claro */
  }

/* whatsapp */
#whatsapp .wtsapp {
    position: fixed;
    transform: all .5s ease;
    background-color: #25d366;
    display: flex;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    border-right: none;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    bottom: 50px;
    right: 50px;
    border: 0;
    z-index: 9999;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

@media (max-width: 768px) {
    #whatsapp .wtsapp {
        bottom: 20px;
        right: 20px;
    }
}

#whatsapp .wtsapp img {
    width: 26px;  /* Ajusta el tamaño de la imagen SVG */
    display: block;
    margin: auto; /* Centra la imagen dentro del contenedor */
}

#whatsapp .wtsapp:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
}

#whatsapp .wtsapp:focus {
    border: none;
    outline: none;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}