@font-face {
    font-family: 'hola';
    src: url('../../../src/assets/font/Product\ Sans\ Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'hola';
    src: url('../../../src/assets/font/Product\ Sans\ Bold.ttf') format('truetype');
    font-weight: 700;
    letter-spacing: 1em;
}
body {
    font-family: 'hola';    
}

.filter__button {
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 4px; 
    border-radius: 8px;
    background: #fff;
    border: 1px solid rgb(239 68 68);
}

.filter__button__span {
    color: rgb(239 68 68);
    font-size: 14px;
    font-family: Jost;
    font-weight: 700;
    line-height: 16.56px;
    text-transform: uppercase;
    font-style: normal;
}

.filter__button:active {
    border: 1px solid rgb(239 68 68);
}

.filter__button__span:active {
    color: rgb(239 68 68); 
}

.filter__button__select{
    display: flex;line-height: 16.56px;
    align-items: center;
    padding: 4px 8px;
    gap: 4px;
    background: rgb(239 68 68);
    border: 1px solid rgb(239 68 68);
    border-radius: 8px;
}

.filter__button__span__selected {
    font-style: normal;
    font-weight: 700;
    font-family: Jost;
    font-size: 14px;
    line-height: 16.56px;
    text-transform: uppercase;
    color: #fff;
}
